<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<body>


<div class = fixed>
<img src="{{ url_for('static', filename='logo.png') }}" alt="Mydea">
</div>


<div>
<br>




<a href="{{ url_for('main')}}">Sign Out</a>


</div> 
<div>
<form action= "{{ url_for('add_status')}}" method="POST">
<h1> mydea</h1>
<br>
new mydea:
<br>
<textarea name = "status" rows="5" cols="60"></textarea>




<br>
<br>
choose a category: <br>
<input type="radio" name="category" value="entrepreneurship"> Entrepreneurship <br>
<input type="radio" name="category" value="community"> Community <br>
<input type= submit value= "post"> <br>




</form>
<a href="mydeas_wall.html">Cancel</a>
</div>
</body>

</html>
