<html>

<body>

<div>
<br>
<form>
<input type= submit value= "Sign Out"> <br>
<a href="{{ url_for('main_page.html')}}">Sign Out</a>
</form>

</div> 

<h1> Mydea</h1>

<form action= "{{ url_for('')}}"> 
<br>
New Mydea:
<br>
<textarea rows="5" cols="60">

</textarea>

<br>
<br>
choose a category: <br>
<input type="radio" name="category" value="entrepreneurship"> Entrepreneurship <br>
<input type="radio" name="category" value="community"> Community <br>
<input type= submit value= "post"> <br>
<a href="{{ url_for('mydeas_page')}}"> </a>
</form>


</body>

</html>
