<html>

<body>

<div>
<br>
<form>
<input type= submit value= "Sign Out"> <br>-->
<a href="{{ url_for('main_page')}}">Sign Out</a>
</form>

</div> 

<h1> mydea</h1>

<form action= "{{ url_for('')}}"> 
<br>
new mydea:
<br>
<textarea name= "mydea" rows="5" cols="60">
</textarea>

<br>
<br>
choose a category: <br>
<input type="radio" name="category" value="entrepreneurship"> entrepreneurship <br>
<input type="radio" name="category" value="community"> community <br>
<!--<input type= submit value= "post"> <br>-->
<a href="{{ url_for('mydeas_page')}}">post</a>
</form>


</body>

</html>
