<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<body>


<div class = fixed>
<img src="logo.jpg" alt="Mydea">
</div>


<h1> mydea </h1>
<div>

<h1> Sign up </h1>
<form action = "{{url_for('add_user')}}" method = "POST"> 
Name: <input type= text name= "name" > <br>
Email: <input type= email name= "email" > <br>
Password: <input type= password name= "password" > <br>
<h1> About Mydea </h1>
<p> Mydea is about sharing mydeas that would inspire community leaders and entrepreneurs to take action and solve social issues.


You can share a mydea about an issue in your community. If your mydea will gain a lot of supporters, there is a greater chance that your community leader would see and solve your common issue.


You can also share a mydea about a common everyday problem. If your mydea will gain a lot of supporters, there is a greater chance that your mydea would inspire entrepreneurs to make a product that can solve your problem. <br> <br>

By pressing the 'I Agree” button, you agree to: <br> <br>

<li>Not sharing racist, homophobic or sexist mydeas. <br>

<li>Not sharing traumatic issues ("boyfriend raped me") <br>

<li>Not sharing everyday emotional issues ("boyfriend dumped me")<br>

Act with respect and kindness to other users</p>
<input type = "checkbox" name = "iagree"> I agree to Mydea terms and conditions<br>

<input type="submit" value="Sign Up">
</form>
</div>

</body>

</html>
