body
{
background-image: url("http://static.splashnology.com/articles/45_Fresh_and_Free_Texture_Packs/48_Free_Old_White_Wood_Planks_Textures_by_ronenbekerman.com.jpg");
color:#19BF96;
font-size:100%;
margin: 20px;
font-family:"Comic Sans MS";
width: auto;
text-shadow: 2px 2px 4px #000000;
}

h1
{
background-image: url("http://static.splashnology.com/articles/45_Fresh_and_Free_Texture_Packs/48_Free_Old_White_Wood_Planks_Textures_by_ronenbekerman.com.jpg");
color:#19BF96;
text-decoration:none;
text-align:center;
text-shadow: 2px 2px 4px #000000;
font-size:2.5em;
font-family:"Comic Sans MS";
}



a
{
text-decoration: none;
}

#for the buttons
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

#for the logo on every page
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #8AC007;
}

#for the post divs
.border:hover
{
        box-shadow: inset 0 0 0 25px #53a7ea;
}


